/Engine/build/
/snes9xgit

**/.vs/**
**/.vscode/
**/bin/**
**/obj/**

/Editor/output/**
/Editor/output64/**
/Editor/packaged_output/**
/Editor/test_output/**
/Editor/ExternalProjects/**
/Editor/ExternalToolProjects/**
/Editor/LibretroBridge/**
/Editor/Assets/dll/**
/Editor/Build/**
/Editor/Dist/**
/Editor/References/**

/Editor/src/Pixtro.Invoke/**
/Editor/src/Pixtro.Emuware.BizwareGL/**
/Editor/src/Pixtro.Emuware.DirectX/**
/Editor/src/Pixtro.Emuware.OpenTK3/**
/Editor/src/Pixtro.Common/images/**

**/Release/**
**/Debug/**
**/ipch/**

*sprites.c
*sprites.h
*levels.c
*levels.h
RandomTestStuff.cs
pixtro_develop.pnproj
todo.txt

*.gz
*.zip
*.elf
*.gba
*.suo
*.sln
*.exe
*.pdb
*.csproj
*.csproj.*
*.wav
*.mod
*.dll
*.pal
*.ilk
*.il
*.tlog
*.obj
*.o
*.gcda
*.filters
*.opendb
*.props
*.so