Engine/build/
Engine/art/bin
/GBA Compiler/GBA Compiler/bin/
/GBA Compiler/GBA Compiler/obj/

Engine/source/sprites.c
Engine/source/sprites.h
Engine/source/levels.c
Engine/source/levels.h
pixtro_develop.pnproj
todo.txt

*.pnps
*.elf
*.gba
*.suo
*.sln
*.exe
*.pdb
*.csproj
*.wav
*.mod
