Engine/build/
Engine/art/bin
Compiler/bin/
Compiler/obj/
Compiler/.vs/

*sprites.c
*sprites.h
*levels.c
*levels.h
pixtro_develop.pnproj
todo.txt

*.zip
*.elf
*.gba
*.suo
*.sln
*.exe
*.pdb
*.csproj
*.csproj.*
*.wav
*.mod
